body{
    height: 100%;
    background-color: lightgreen;
    font-style: italic;
    font-size:  25px;
    text-transform: uppercase;
    color:black;
    text-decoration:underline;
    text-align: center;
    border: 5px black;
    }

.clor1{
    color: white;
    background-color: rgb(170, 81, 13);
    text-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px black;
    


}
.clor2{
    color: white;
    background-color: yellow;
    text-shadow: 5px 5px 10px black;
}


.Tribute-header{
    color:white;
    text-shadow: 5px 5px 10px black;
    font-size: 25px;
}



#dhoni-caption {
    font-size: 14px;
    text-shadow: 5px,5px,10px;
    font-family: Lato,sans-serif;
    background-color:lightgreen;
    color: rgb(170,13,102);
    box-shadow: 5px 5px 10px black;
}
#dhoni-para{
    font-size: 15px;
    text-shadow: 5px,5px,10px;
    font-family: Lato,sans-serif;
    background-color:lightgreen;
    color: rgb(170,13,102);
    box-shadow: 5px 5px 10px black;
}
.dhoni-describe{
    font-size: 15px;
    text-shadow: 5px,5px,10px;
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgba(158, 9, 148, 0.571)
}
#dhoni quotes{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px black;
}
.dhoni-wiki{
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
}